@page "/Users/JunkPage"
@inherits ComponentBase
@using Tech.Aerove.Blazor.DataTables.Components

<h3>UsersPage</h3>

<div class="row">
    <div class="col-3 offset-6">

        <select title="Portfolio" class="form-select" @onchange="@((e)=>Source.SetFilterAsync(nameof(JunkModel.Id),e.Value))" multiple>
            <option value="">Id</option>
            @for (var x = 0; x < 6; x++)
            {
                <option value="@x">@x</option>
            }
        </select>
    </div>
    <div class="col-3">

        <select title="Date" class="form-select" @onchange="@((e)=>Source.SetFilterAsync(nameof(JunkModel.Date),e.Value))">
            <option value="">Date</option>
            @for (var x = 0; x < 6; x++)
            {
                <option value="@DateTime.Now.AddDays(x)">@DateTime.Now.AddDays(x).ToShortDateString()</option>
            }
        </select>
    </div> 
    <div class="col-12">
        <DataTable DataSource="Source" Context="Data" class="table table-responsive table-sm">

            <TableHead>
                <Header class="table-active">@Data.Name</Header>
            </TableHead>
            <TableBody>

                <Column scope="row" Name="@nameof(JunkModel.Id)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Date)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Guid)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Guid2)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Guid3)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Email)" class="">
                    @Data.Value
                </Column>
                <Column Name="@nameof(JunkModel.Phone)" class="">
                    @Data.Value
                </Column>

            </TableBody>
        </DataTable>
    </div>
</div>
<br />
<br />
<br />