@page "/Users/UsersPage"
@inherits ComponentBase
@using Tech.Aerove.Blazor.DataTables.Components
@using Microsoft.AspNetCore.Identity;

<h3>UsersPage</h3>

<DataTable TableContext="Source" Context="Data" class="table table-sm dt-responsive nowrap w-100">
    <TableHead>
        <Header Name="@nameof(IdentityUser.Id)" class="table-active"></Header>
        <Header Name="@nameof(IdentityUser.Email)" class="table-active"></Header>
        <Header Name="@nameof(IdentityUser.PasswordHash)" class="table-active"></Header>
    </TableHead>
    <TableBody>
        <Column scope="row" class=""> @Data.Item.Id</Column>
        <Column>@Data.Item.Email</Column>
        <Column>@Data.Item.PasswordHash</Column>
    </TableBody>
</DataTable> 